* {
  margin: 0;
  padding: 0;;
  box-sizing: border-box;
}

body {
  background-color: #176691;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: #003659;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  color: orange;
}

nav, nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav a {
  display: inline;
  text-decoration: none;
  margin-right: 5px;
  padding-right: 6px;
  color: orange;
}

nav a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.section1 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  width: 100%;
}

.section1_div1 {
  width: 75%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-apresentação {
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.texto-apresentacao {
  max-width: 40%;
}
  
.texto-apresentacao span {
  color: orange;
}

.texto-apresentacao p {
  margin-top: 2rem;
  font-size: 20px;
  color: white;
}

.section3_div1 {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
/*   flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
}

.img-tecnologias1,
.img-tecnologias2 {
  display: flex;
  transition: all .6s ease;
  justify-content: center;
  margin: 2rem 0;
  gap: 2rem;
  min-width: 560px;
  width: 75%;
  height: 100px;
}

.img-destaque {
  width: 10vw;
  transition: all .6s ease;
  filter: grayscale(1);
}

.img-destaque:hover {
  filter: grayscale(0);
}

div p {
  margin-top: 1.25rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

footer {
  text-align: center;
  padding: 1rem;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #003659;
}

footer p {
  color: orange;
}

/* Medias Queries */

@media (max-width: 560px) {
  .img-tecnologias1,
  .img-tecnologias2 {
    min-width: 430px;
  }
}

@media (max-width: 430px) {
  section {
    width: 100%;
  }

  .section1 {
    flex-direction: column;
  }

  .texto-apresentacao {
    max-width: 80%;
  }
  
  .img-tecnologias1,
  .img-tecnologias2 {
    min-width: unset; 
  }
  
  .img-tecnologias1 img ,
  .img-tecnologias2 img {
    width: 60px;
  }
}

@media (max-width: 350px) {
  header {
    flex-direction: column;
    justify-content: space-around;
  }

  .img-tecnologias1, .img-tecnologias2 {
    flex-wrap: wrap;
  }
}
